.card {
  color: white;
  display: flex;
  width: 480px;
  align-items: flex-end;
  justify-content: center;
  background-image: url("/src/images/bg-main-desktop.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  height: 650px;
  flex-direction: column;
}
.card .img {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  width: 328px;
  height: 180px;
  position: relative;
  margin-bottom: 30px;
}
.card .front {
  background-image: url(/src/images/bg-card-front.png);
  margin-right: -60px;
}

.front .logo {
  width: 70px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.front .card-number {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 20px;
  letter-spacing: 2px;
}
.front .date {
  position: absolute;
  bottom: 20px;
  font-size: 12px;
  right: 20px;
}
.front .name {
  font-size: 12px;
  bottom: 20px;
  left: 20px;
  text-transform: uppercase;
  position: absolute;
}
.card .back {
  position: relative;
  background-image: url(/src/images/bg-card-back.png);
  margin-right: -140px;
}

.card .back .cvc {
  position: absolute;
  top: 80px;
  font-size: 12px;
  right: 40px;
}
